<h1>Albums</h1>
<div class="list-group">
    {{#each artistAlbums}}
        <div class="card card-body">
            <h2>{{name}}</h2>
            <img src="{{images.[1].url}}" alt="{{name}} Image"/>         
            <a class="btn btn-primary" href="/tracks/{{id}}">View Tracks</a>
        </div>
    {{/each}}   
</div>