<header>
      <div class="hero">
        <br>
        <h1>Music for everyone.</h1> 
        <form action="/artistSearch", method="GET">
        <input type="text" name="q" placeholder="Start your search and play now!">
        <button class="btn btn-primary" type="submit">Seach for an Artist</button>
        </form>
        <br>
        <p>Spotify is now free on mobile, tablet and computer. 
        <br>
        Listen to the right music, wherever you are.</p>
      </div>
</header>