<h1>Tracks</h1>

<div class="list-group">
    {{#each artistPreviewTracks}}
        <div class="list-group-item">
            <h2>{{name}}</h2>       
            <audio controls src="{{preview_url}}">This audio is not available.</audio>
        </div>
    {{/each}}
</div>